{% extends "base.html" %}
{% set title = "Update Balance" %}
{% set css_file = "update.css" %}

{% block content %}
    <h1>Update Balance</h1>
    {% if message %}  
    <p class="{{msg_type}}">
        {{message}}
    </p>
    {% endif %}
    <form method="post" class="update-form">
        <div class="form-group">
            <label for="acc_no">Account No:</label>
            <input type="text" name="acc_no" id="acc_no" required>
        </div>

        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" name="amount" id="amount" step="0.01" min="0.01" required>
        </div>

        <div class="button-group">
            <button type="submit" name="action" value="deposit" class="btn deposit">Deposit</button>
            <button type="submit" name="action" value="withdraw" class="btn withdraw">Withdraw</button>
        </div>
    </form>
{% endblock %}